@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5.5px;
  background-color: #c7f9ea;
}
body::-webkit-scrollbar-thumb {
  background-color: #0ca678;
  border-radius: 100px;
}
.nav__btn {
  background: #0ca678;
}
.home_section {
  position: relative;
  min-height: calc(90vh - 85px);
}
.toggles {
  position: relative;
}
.delete__and__edit {
  position: absolute;
  right: -1000px;
  top: 0;
}
.toggle__btns.delete__and__edit {
  /* right: 0; */
  position: relative;
  right: 0;
}
.form__input,
.form__input:hover,
.form__input:active {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 1.5px rgba(107, 114, 128, 0.65);
  width: 100%;
  border-radius: 0.6rem;
  padding: 8px 0 8px 8px;
}
.form__input::placeholder {
  text-transform: capitalize;
}
.overlay {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(40px);
}
.overlay_text {
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0 1.5px rgba(107, 114, 128, 0.65);
  transform: translate(-50%, -50%);
}
.error_display,
.no_data,
.loading_gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading_gif {
  width: 100px;
}
.error_display,
.no_data {
  font-size: 1.4rem;
}
@media screen and (max-width: 576px) {
  .overlay_text {
    font-size: 0.8rem;
    width: 80%;
  }
}
